/* element >> classes >> IDs */

body
{
    margin: 0;

}

#h1
{
    width: 30%;
}


#header-nav
{
    width: 70%;
}

#nav-text
{
    width: 65%;
}

#nav-images
{
    width: 35%;
}

#welcome-div
{
 /* vh is viewoport height */
    height: 80vh;
    width: 100vw;
    /* background-image: ; Google this Try this*/
    background-image: url('assets/images/pink_desk.jpg');    
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 100% 100%;
    opacity: 0.9;

    color: lightsalmon;
    size: 20px;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;

}

#welcome-note
{
    /* p is always displayed as block */
    text-align: center;
    color: white;
    width: 50vw;
    position: relative;
    top: 20vh;
    left: 20vw;
    

}

div.about-profile
{
    object-fit: cover;
    height: 200px;
    display: flex;
    justify-content: left;
    width: 200px;
}


