/* element >> classes >> IDs */


#header-name
{
    display: inline;
}

#header-nav
{
    display: inline;
}

#welcome-div
{
 /* vh is viewoport height */
    height: 80vh;
    /* background-image: ; Google this Try this*/
    background-image: url('assets/images/bakcground_green.jpeg');    
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 80% 100%;
    opacity: 0.9;

    color: lightsalmon;
    size: 20px;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;

}

#welcome-note
{
    display: block;
    text-align: center;
    background-color: yellow;
    color: tomato;
    display: table-cell;

}